.content{margin-top:100px}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    height: 800px;

}

div.scrollmenu .tasks {
    display: inline-block;
    width:400px;
    padding: 14px;
    text-decoration: none;
    position: relative;
}
textarea.card-title{
    font-size: 1rem  !important;
    font-weight: bold;
    border: none  ;
    margin: 0  !important;
    padding: 5px 5px 0px  !important;
    background: none !important;
    cursor: pointer ;
    overflow: hidden;
    word-wrap: break-word;
}

textarea.card-task, textarea.card-todo{
    margin: 5px 0px  !important;
    padding: 5px 5px 0px  !important;
    cursor: pointer ;
    overflow: hidden;
    background: #eceff4 !important;
    word-wrap: break-word;
}

textarea.onclick{
    border: 1px solid gray !important;
    background: none !important;
    cursor:text !important;
}
.card-body {
    padding: 10px 1.25rem 5px !important;
}

a.action{
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.5rem;
}
li.task-row,li.todo-row{
    position: relative;
}
.delete-task,.delete-todo{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1rem;
}
.list-group textarea{
    padding-right: 10px !important;
}
